<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhy.huaman.mapper.ProductMapper">
    <resultMap id="ProductEntityMap" type="com.yhy.huaman.entity.Product">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="item_type" property="itemType"/>
        <result column="sell_point" property="sellPoint"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <select id="findHotList" resultMap="ProductEntityMap">
        select * from t_product where status=1 order by priority desc limit 0,4
    </select>

    <select id="findNewList" resultMap="ProductEntityMap">
        select * from t_product where status=1 order by created_time desc limit 0,4
    </select>

    <select id="findById" resultMap="ProductEntityMap">
        select * from t_product where id=#{id}
    </select>

    <select id="queryProductByTitle" resultMap="ProductEntityMap">
        SELECT *
        FROM t_product
        WHERE status != 3
          AND title LIKE '%${title}%'
        ORDER BY priority DESC

    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_product (
            category_id,item_type,title,sell_point,madeof,safety,season,price,num,image,status,priority,created_time,modified_time,created_user,modified_user
        ) VALUES (
                  #{categoryId},#{itemType},#{title},#{sellPoint},#{madeof},#{safety},#{season},#{price},
                  #{num},#{image},#{status},#{priority},
                  #{createdTime},#{modifiedTime},#{createdUser},#{modifiedUser}
                 )
    </insert>

    <update id="updateInfoByPid">
        update t_product
        set
        <!--if是条件判断标签,属性test接受的是一个返回值为boolean类型的条件,
        如果test条件的结果为true则执行if标签内部的语句,注意逗号也要在标签内-->
        <if test="categoryId!=null">category_id = #{categoryId},</if>
        <if test="itemType!=null">item_type = #{itemType},</if>
        <if test="title!=null">title = #{title},</if>
        <if test="sellPoint!=null">sell_point = #{sellPoint},</if>
        <if test="madeof!=null">madeof = #{madeof},</if>
        <if test="safety!=null">safety = #{safety},</if>
        <if test="season!=null">season = #{season},</if>
        <if test="price!=null">price = #{price},</if>
        <if test="num!=null">num = #{num},</if>
        <if test="image!=null">image = #{image},</if>
        <if test="status!=null">status = #{status},</if>
        <if test="priority!=null">priority = #{priority},</if>
        modified_user = #{modifiedUser},
        modified_time = #{modifiedTime}
        where id=#{id}
    </update>
</mapper>
